<div data-role="view" data-title="addcustomer" data-model="app.customerList.customerListModel" data-bind="events: { show: addShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.HomeTel" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>

    <input type="text" data-bind="value: currentItem.Mobile" />
     <p>
         Customer Name
    </p><input type="text" data-bind="value: currentItem.CustomerName" />
<button data-bind="{  events: {click: sync}}">
    hello
    </button>

    <!-- START_CUSTOM_CODE_customerListModel -->
    <!-- END_CUSTOM_CODE_customerListModel -->
</div>