<div data-role="view" data-title="Customers" data-layout="main" data-model="app.customerList" data-show="app.customerList.onShow" data-after-show="app.customerList.afterShow">

    <!-- START_CUSTOM_CODE_customerList --> 
    <!-- END_CUSTOM_CODE_customerList -->
    <ul data-role="listview" data-style="inset" data-template="customerListModelTemplate" data-bind="{ source: customerListModel.dataSource, events: {click: customerListModel.itemClick}}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_customerListModel -->
    <!-- END_CUSTOM_CODE_customerListModel -->
    <script type="text/x-kendo-template" id="customerListModelTemplate">
        <div class="image-with-text">
            <img src="#: data['PhotoUrl'] #" width="30%" height="30%">
            <h3>#: data['CustomerName'] #</h3>
            <p>#: data['Address'] #</p>
             <p>#: data['Mobile'] #</p>
        </div>
    <button  data-bind="{  events: {click: itemAdd}}">
    add
    </button>
    </script> 
</div>